<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello docker</title>
</head>
<body>
    <h1><%= locals.data %></h1>
    <h1>arch: <%= locals.arch %></h1>
</body>
</html>